.form-test {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding-bottom: 30px;
    .title {
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 2px;
        color: #ffffff;
        margin-top: 10px;
    }
    label {
        width: 40%;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.2em;
    }
    input,
    select {
        width: 55%;
        margin-top: 20px;
        border-radius: 8px;
        border: 2px solid #AACB2F;
        height: 35px;
        background: transparent;
        padding: 0 10px;
        color: #ffffff;
    }
    .form-test-dependancies {
        margin: 20px 0;
        text-align: center;
        color: #ffffff;
        a {
            font-size: 1.2em;
            color: #ffffff;
            font-weight: 500;
            background: #ffa51f;
            border-radius: 0;
            padding: 15px;
            letter-spacing: 2px;
            margin-top: 20px;
            border-color: transparent;
        }
    }
    .form-test-uploads {
        margin-top: 40px;
        color: #ffffff;
        font-weight: 500;
        font-size: 1.2em;
        .upload-option {
            margin-top: 15px;
        }
        input {
            margin-top: 0;
            width: 100%;
            padding: 5px;
        }
    }
    .form-test-results {
        margin-top: 40px;
        .terms-conditions {
            color: #ffffff;
            input[type=checkbox] {
                width: 30px;
                height: 30px;
                position: relative;
                top: 5px;
                transform: scale(1.2);
            }
        }
        button {
            width: 80%;
            margin: 30px 0;
            font-size: 1.2em;
            color: #ffffff;
            font-weight: 500;
            background: #00357A;
            border-radius: 0;
            padding: 15px 0;
            letter-spacing: 2px;
        }
        button:disabled {
            background: #cccccc;
        }
    }
}

// label,
// select,
// input {
//     width: 50%;
// }