<div class="row">
  <div class="col-sm-offset-1 col-sm-10 form-test">
    <p class="title text-center">USER DASHBOARD</p>
    <div class="row">
      <div class="col-xs-12 col-sm-12 form-test-dependancies text-center">
        <div class="row">
          <p class="dependence-text">By proceeding further, you agree that you have to download all the Selenium dependencies to your local machine for successful test results.</p>
          <!-- <button class="col-sm-offset-4 col-sm-4">Download Dependencies</button> -->
          <a href="../../assets/downloadables/SeleniumDependencies.zip" target="_self" class="btn btn-danger">Download Dependencies</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 form-test-fields">
        <div class="row">
          <div class="col-sm-6">
            <div>
              <label for="projName">Project Name</label>
              <input id="projName" [(ngModel)]="project">
            </div>
            <div>
              <label for="projName">Browser</label>
              <select>
                <option value="chrome">Chrome</option>
                <option value="saab">Safari</option>
                <option value="mercedes">IE</option>
                <option value="audi">Firefox</option>
              </select>
            </div>
            <div>
              <label for="projName">Snapshot</label>
              <select>
                <option value="browser">Browser</option>
              </select>
            </div>
            <div>
              <label for="projName">Host Name</label>
              <input id="projName">
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <label for="release">Release Name</label>
              <input id="release" [(ngModel)]="release">
            </div>
            <div>
              <label for="url">URL</label>
              <input id="url">
            </div>
            <div>
              <label for="snapshotType">Snapshot Type</label>
              <select>
                <option value="chrome">Yes</option>
                <option value="saab">No</option>
              </select>
            </div>
            <div>
              <label for="projName">Local Machine</label>
              <select>
                <option value="browser">Local Machine</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 form-test-uploads">
        <div class="row">
          <div class="col-xs-12 col-sm-12 upload-option">
            <div class="col-xs-12 col-sm-6 header col-xs-push-0 col-sm-push-2">Upload Execution Manager</div>
            <div class="col-xs-12 col-sm-5 action"><input id="fileUpload" (change)="onFileUpload($event)" type="file" class="btn"></div>
          </div>
          <div class="col-xs-12 col-sm-12 upload-option">
            <div class="col-xs-12 col-sm-6 header col-xs-push-0 col-sm-push-2">Upload Mapping</div>
            <div class="col-xs-12 col-sm-5 action"><input id="uploadMap" type="file" class="btn"></div>
          </div>
          <div class="col-xs-12 col-sm-12 upload-option">
            <div class="col-xs-12 col-sm-6 header col-xs-push-0 col-sm-push-2">Upload Test Creation</div>
            <div class="col-xs-12 col-sm-5 action"><input id="uploadTestCreation" type="file" class="btn"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 form-test-results text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-12 terms-conditions">
            <input type="checkbox" name="tc" [(ngModel)]="isTCAccepted" required #tc="ngModel">
            <span>I ensure that I downloaded all dependant files and Selenium stand alone server is up and running in my local machine before proceeding.</span>
          </div>
          <div class="col-xs-offset-0 col-xs-12 col-sm-offset-4 col-sm-4">
            <button (click)="onSubmit()" [disabled]="!isTCAccepted">Save & Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
