<div class="row">
    <div class="col-sm-4 col-sm-offset-4 form-register">
        <div class="row">
            <div class="col-sm-12 form-register-icon text-center">
                <img src="../../assets/icons/register.svg" alt="Kiwi standing on oval">
            </div>
            <div class="col-sm-offset-1 col-sm-10 form-register-inputs">
                <p class="title text-center">Register</p>

                <input type="text" placeholder="First Name" [(ngModel)]="firstName">

                <input type="text" placeholder="Last Name" [(ngModel)]="lastName">

                <input type="text" placeholder="Email" [(ngModel)]="email">

                <input type="text" placeholder="Password">

                <input type="text" placeholder="Confirm Password" [(ngModel)]="password">

                <button class="btn btn-login" (click)="handleRegister()">Register</button>
            </div>
            <div class="col-sm-12 form-register-login">
                <p>Already have an account ? <span><a routerLink="/" href="#">SIGN IN</a></span></p>
            </div>
        </div>
    </div>
</div>