.form-register {
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding-bottom: 30px;
	.form-register-icon {
			position: relative;
			top: -40px;
			img {
				border: 1px solid #ffffff;
				border-radius: 40px;
			}
	}
	.form-register-inputs {
			margin-top: -25px;
			input {
				width: 100%;
				margin-top: 20px;
				padding: 12px;
				border-radius: 8px;
				border: 1px solid #ffffff;
			}
			.title {
				font-size: 2.2em;
				color: #ffffff;
				font-weight: 500;
			}
			.btn-login {
				width: 100%;
				margin: 30px 0;
				font-size: 1.2em;
				color: #ffffff;
				font-weight: 500;
				background: #00357A;
				border-radius: 0;
				padding: 15px 0;
				letter-spacing: 2px;
			}
	}
	.form-register-login {
		text-align: center;
		font-size: 1em;
		color: #ffffff;
		font-weight: 600;
		a {
			color: #AACB2F;
			font-weight: 700;
		}
	}
}