<div class="row">
    <div class="col-sm-4 col-sm-offset-4 form-signin">
        <div class="row">
            <div class="col-sm-12 form-signin-icon text-center">
                <img src="../../assets/icons/user.svg" alt="Kiwi standing on oval">
            </div>
            <div class="col-sm-offset-1 col-sm-10 form-signin-inputs">
                <p class="title text-center">Sign In</p>

                <input type="text" placeholder="User Name" [(ngModel)]="userName">

                <input type="text" placeholder="Password" [(ngModel)]="password">

                <button class="btn btn-login" (click)="handleLogin()">Login</button>
            </div>
            <div class="col-sm-12 form-signin-register">
                <p>Don't have an account ? <span><a routerLink="/register" href="#">REGISTER HERE</a></span></p>
            </div>
        </div>
    </div>
</div>