<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="main-content">
        <router-outlet></router-outlet>    
    </div>
    <app-footer></app-footer>
</div>