<div class="row">
    <div class="col-sm-12 app-header">
        <div class="row">
            <div class="col-sm-2 title">
               <a routerLink="form"> PRAZU</a>
            </div>
            <div class="col-sm-8 pull-right nav-items">
                <!-- <div class="col-sm-6"> -->
                        <a routerLink="" [class.activated]="currentUrl == '/'">Login</a>
                        <a routerLink="register" [class.activated]="currentUrl == '/register'">Register</a>
                        <a routerLink="form" [class.activated]="currentUrl == '/form'">Test Form</a>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>