.app-header {
	background: #00357A;
	height: 70px;
	color: #ffffff;
	padding-top: 15px;

	.title {
    margin-left: 40px;
		
		a{
			font-size: 2em;
    	letter-spacing: 16px;
    	font-weight: 700;
			color: #AACB2F;
			text-decoration: none;
		}
	}

	.nav-items {
		font-size: 1.2em;
		text-align: right;
    padding-top: 10px;

		a{
			color: #ffffff;
			margin: 0px 40px;
			font-weight: 500;
			letter-spacing: 2px;
			cursor: pointer;
		}
	}
}